<div class="about-us-section container">

    <div class="about-us-photo">
        <!-- <img src="../img/about-us/team_mobile_1x.jpg" srcset=
                "../img/about-us/team_mobile_1x.jpg 1x, 
                ../img/about-us/team_mobile_2x.jpg 2x" 
                alt="team photo" class="team-photo"> -->    
    </div>
    <div class="about-us-info">
        <svg class="about-us-logo" >
            <use href="../public/favicon.svg"></use>
            </svg>
            <h2 class="about-us-header">
                About ArtistsHub
            </h2>
            <p class="about-us-description">
                At ArtistsHub, our mission is to connect music lovers with the artists they adore. We strive to create a vibrant community where discovering new music is as enjoyable as listening to it.
            </p>
        
    </div>

</div>
