<div class="about-us-section container">

    <div class="about-us-photo">
        <picture>
            <source
                media="(min-width: 1440px)"
                srcset="/img/about-us/team_desktop_1x.png 1x,
                /img/about-us/team_desktop_2x.png 2x"
            width="640"
            height="664"
            />
            <source
                 media="(min-width: 768px)"
                srcset="/img/about-us/team_tablet_1x.png 1x,
                /img/about-us/team_tablet_2x.png 2x"
            width="704"
            height="413"
            />
            <source
                 media="(max-width: 767px)"
                srcset="/img/about-us/team_mobile_1x.png 1x,
                /img/about-us/team_mobile_2x.png 2x"
            width="280"
            height="168"
            />
            <img class="team-photo" 
                    src="/img/about-us/team_desktop_1x.png" 
                    alt="team photo"
                    width="640"
                    height="664"
                    >
        </picture>
    </div>
    <div class="about-us-info">
        <svg class="about-us-logo" >
            <use href="/public/favicon.svg"></use>
            </svg>
            <h2 class="about-us-header">
                About ArtistsHub
            </h2>
            <p class="about-us-description">
                At ArtistsHub, our mission is to connect music lovers with the artists they adore. We strive to create a vibrant community where discovering new music is as enjoyable as listening to it.
            </p>
        
    </div>
    <div class="feedback-button-container">
    <button class="leave-feedback-btn" onclick="openFeedbackModal()">
        Leave feedback
    </button>
</div>

</div>
