<section id="about-us-section">
<div class="about-us-container container">
        <picture class="about-us-photo">
            <source
                media="(min-width: 1440px)"
                srcset="/img/about-us/team_desktop_1x.webp 1x,
                /img/about-us/team_desktop_2x.webp 2x"
            width="640"
            height="664"
            />
            <source
                 media="(min-width: 768px)"
                srcset="/img/about-us/team_tablet_1x.webp 1x,
                /img/about-us/team_tablet_2x.webp 2x"
            width="704"
            height="413"
            />
            <source
                 media="(max-width: 767px)"
                srcset="/img/about-us/team_mobile_1x.webp 1x,
                /img/about-us/team_mobile_2x.webp 2x"
            width="280"
            height="168"
            />
            <img class="team-photo" 
                    src="/img/about-us/team_desktop_1x.webp" 
                    alt="team photo"
                    width="640"
                    height="664"
                    loading="lazy"
                    >
        </picture>
    <div class="about-us-info">
        <svg class="about-us-logo" >
            <use href="/img/icons.svg#icon-logo-icon"></use>
        </svg>
            <h2 class="about-us-header">
                About ArtistsHub
            </h2>
            <p class="about-us-description">
                At ArtistsHub, our mission is to connect music lovers with the artists they adore. We strive to create a vibrant community where discovering new music is as enjoyable as listening to it.
            </p>
        
    </div>

</div>
</section>

