<div class="backdrop hidden"></div>
<div class="modal-artist hidden">
    <button class="btn-close">
        <svg width="32" height="32" color="#ffffff">
            <use href="../img/icons.svg#icon-close"></use>
        </svg>
    </button>
    <div class="modal-scrolled">


        <h2 class="name-artist">Name Artist</h2>

        <div class="artist-description">
            <img class="photo-artist" src="" alt="artist" />
            <ul class="list-bio">
                <li class="bio-item">
                    <h3 class="bio-name">Years active</h3>
                    <p>2013 - present</p>
                </li>
                <li class="bio-item">
                    <h3 class="bio-name">Sex</h3>
                    <p>Male</p>
                </li>
                <li class="bio-item">
                    <h3 class="bio-name">Members</h3>
                    <p>1</p>
                </li>
                <li class="bio-item">
                    <h3 class="bio-name">Country</h3>
                    <p>United States</p>
                </li>
            </ul>
        </div>

        <div>
            <h3 class="bio-name">Biography</h3>
            <p class="bio-text">
                Arabshahi, known by his stage name Unlike Pluto, is an American singer,
                songwriter, music producer, and former DJ. He is mainly known for his song
                "Everything Black", released under the record label Monstercat in 2017,
                which he produced with Philadelphia-based vocalist and DJ Mike Taylor.

            </p>
        </div>

        <div class="albums-section">
            <h2 class="albums-title">Albums</h2>
            <ul class="albums">
                <li class="album-card">
                    <h3 class="name-albums">Ghost Gardens</h3>
                    <table class="tracklist">
                        <thead class="heder-track-list">
                            <tr class="track-header">
                                <th class="head-name-track">Track</th>
                                <th class="head-name-time">Time</th>
                                <th class="head-name-link">Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="track">
                                <td class="name-track">Rip Me Apart</td>
                                <td class="time">5:12</td>
                                <td class="img-icon">
                                    <a href="#"><img src="../img/icons.svg#icon-youtube" width="24" height="24"
                                            alt="YouTube"></a>
                                </td>
                            </tr>
                            <tr class="track">
                                <td class="name-track">Rip Me Apart</td>
                                <td class="time">3:02</td>
                                <td class="img-icon">
                                    <a href="#"><img src="" alt=""></a>
                                </td>
                            </tr>
                            <tr class="track">
                                <td class="name-track">Rip Me Apart</td>
                                <td class="time">4:42</td>
                                <td class="img-icon">
                                    <a href="#"><img src="../img/icons.svg#icon-youtube" width="24" height="24"
                                            alt="YouTube"></a>
                                </td>
                            </tr>
                            <tr class="track">
                                <td class="name-track">Rip Me Apart</td>
                                <td class="time">3:54</td>
                                <td class="img-icon">
                                    <a href="#"><img src="" alt=""></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>

        <div class="scroll-padding"></div>
    </div>
</div>
