<div class="container">Feedback</div>
<section class="feedback container">
  <div class="fb_container">
    <button type="button " class="left_btn hide">
      <svg class="fb_left_svg" width="14" height="14">
        <use class="fb_arrow_left" href="../img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="fb_list">
      <li class="fb_item">
        <div class="stars">★★★★★</div>
        <p class="fb_user_text">
          "ArtistsHub has transformed the way I discover new music. It's like
          having a personal DJ that knows my taste perfectly!"
        </p>
        <p class="fb_user_name">Emily Johnson</p>
      </li>
    </ul>
    <button type="button" class="right_btn hide">
      <svg class="fb_right_svg" width="14" height="14">
        <use class="fb_arrow_right" href="../img/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</section>
