<section class="feedback">
  <div class="fb_outer_wrapper container">
    <button type="button" class="left_btn hide swiper-button-prev">
      <svg class="fb_left_svg" width="14" height="14">
        <use class="fb_arrow_left" href="/img/icons.svg#icon-left-arrow"></use>
      </svg>
    </button>
    <div class="swiper">
      <div class="swiper-wrapper"></div>
      <div class="swiper-pagination"></div>

      <div class="swiper-scrollbar"></div>
    </div>
    <button type="button" class="right_btn hide swiper-button-next">
      <svg class="fb_right_svg" width="14" height="14">
        <use class="fb_arrow_right" href="/img/icons.svg#icon-right-arrow"></use>
      </svg>
    </button>
  </div>
</section>