<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo">
        <svg class="footer-socials-icon" width="107" height="30">
          <use href="../img/icons.svg#icon-logo"></use>
        </svg>
      </div>
      <nav class="footer-nav">
        <ul>
          <li><a href="#">Artists</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Reviews</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer-socials">
      <p>© 2025 ArtistsHub. All rights reserved.</p>
      <ul>
        <li>
          <a href="#" aria-label="Instagram">
            <svg class="footer-socials-icon" width="24" height="24">
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" aria-label="Facebook">
            <svg class="footer-socials-icon" width="24" height="24">
              <use href="../img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" aria-label="YouTube">
            <svg class="footer-socials-icon" width="24" height="24">
              <use href="../img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>