<header class="header-section">
  <div class="header-container container">
    <nav class="header-nav">
      <a class="header-logo-link" href="./index.html">
        <svg class="header-logo">
          <use class="header-logo-icon" href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#">Artists</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#">About Us</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#">Reviews</a>
        </li>
      </ul>
    </nav>
    <div class="button-container">
      <button type="button" data-menu-open class="burger-btn">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 6H20V8H4V6ZM8 11H20V13H8V11ZM13 16H20V18H13V16Z" fill="white" />
        </svg>
      </button>
      <button type="button" class="is-hidden mob-menu-close" data-menu-close>
        <svg class="icon-close" width="24" height="24">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="mob-menu is-hidden" data-modal>
    <nav class="mob-navig">
      <ul class="mob-nav-list">
        <li class="mob-nav-item">
          <a class="mobile-menu-link" href="#" data-menu-item>Artists</a>
        </li>
        <li class="mob-nav-item">
          <a class="mobile-menu-link" href="#" data-menu-item>About Us</a>
        </li>
        <li class="mob-nav-item">
          <a class="mobile-menu-link" href="#" data-menu-item>Reviews</a>
        </li>
      </ul>
    </nav>
  </div>
</header>


