<section class="hero">
  <div class="container hero__container">
    <div class="hero__left">
      <h1 class="hero__title">Discover Your Next Favorite Artist Today</h1>
      <p class="hero__description">
        Dive into a world of music discoveries with ArtistsHub – your personal
        guide to the boundless universe of sound. Explore, filter, and learn
        about your favorite artists all in one place.
      </p>
      <a
        href="#artist-section"
        class="hero__btn"
        aria-label="Перейти на секію Artist"
      >
        <span>Explore Artists</span>
        <svg class="hero-btn-icon" width="24" height="24">
          <use href="/img/icons.svg#right-arrow-hero"></use>
        </svg>
      </a>
    </div>
    <div class="hero__right">
      <div class="hero__overlay-top"></div>
      <div class="images-1 column up"></div>
      <div class="images-2 column down"></div>
    </div>
  </div>
</section>
