/* mobile styles */

#about-us-section{
    padding: 64px 0;
}
.about-us-container{
    padding: 0 16px;
}
.team-photo{
    width: 100%;
    min-height: 168px;
    border-radius: 16px;
    margin: 0 auto 48px; 
}

.about-us-logo{
    margin-bottom: 20px;
    width: 64px; 
    height: 64px;
    fill: #fff;
}

.about-us-header{
    font-weight: 700;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 20px;
}

.about-us-description{
    line-height: 1.5;
}

/* tablet styles */

@media screen and (min-width: 768px) {
    .about-us-container{
    padding: 0 32px;
}
    .team-photo{
        max-width: 704px;
        height: 413px;
        margin: 0 auto 24px; 
    }
    .about-us-logo{
        margin-bottom: 24px;
        width: 80px; 
        height: 80px;
    }
    .about-us-header{
        margin-bottom: 24px;
    }
    .about-us-description{
        font-size: 20px;
    }
}

/* desktop styles */


@media screen and (min-width: 1440px) {
    #about-us-section{
    padding: 112px 0;
}
    .about-us-container{
        padding: 0 64px;
        display: flex;
        gap: 32px;
        justify-content: center;
        align-items: center;
    }
    .team-photo{
        max-width: 640px;
        height: 664px;
        margin: 0;
    }
    .about-us-info{
        max-width: 640px;
    }
    .about-us-header{
        font-size: 60px;
    }
}

