:root {
  font-family: 'IBM Plex Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, sans-serif;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  background-color: #060307;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-hover: #6f4d89;
  --color-focus: #6f4d89;
}

main {
  flex-grow: 1;
}
html {
  scroll-behavior: smooth; /* Плавний скрол */
}

button {
  font-family: inherit;
  color: #fff;
  margin: 0;
  text-transform: none;
}

.loader-backdrop {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.66);
  height: 100vh;
  z-index: 1001;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
}
.loader-backdrop.show {
  display: block;
}
.loader-base {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  z-index: 2000;
  top: 50%;
  left: 50%;
  animation: rotation 1s linear infinite;
  position: absolute;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}

.body-hidden {
  overflow: hidden;
}

.loader-load-more {
  width: 24px;
  height: 24px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-left: 10px;
}
.loader-load-more.show {
  display: inline-block;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
