.left_btn,
.right_btn {
  display: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none !important;
}

.swiper {
  width: 288px;
  height: 300px;
}

.feedback {
  margin-top: 64px;
  margin-bottom: 64px;
}

.fb_container {
  display: flex;
}

.fb_item {
  text-align: center;
}

.stars {
  margin-bottom: 32px;
}

.fb_user_text {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #fff;
  margin-bottom: 32px;
}
.fb_user_name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .left_btn,
  .right_btn {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }

  button.swiper-button-next svg,
  button.swiper-button-prev svg {
    width: 14px;
    height: 14px;
    object-fit: contain;
  }

  .fb-outer-wrapper {
    position: relative;
  }

  .swiper {
    width: 518px;
    height: 300px;
  }

  .fb_list {
    max-width: 518px;
  }

  .fb_user_text {
    font-size: 26px;
  }

  .stars {
    font-size: 20px;
  }

  .left_btn {
    left: 45px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 12px;
    background: #060307;
    width: 48px;
    height: 48px;
    transition: all 0.3s ease;
  }

  .left_btn:hover,
  .right_btn:hover {
    background: #1e1c1f;
  }

  .fb_left_svg {
    fill: #fff;
  }

  .right_btn {
    right: 45px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 12px;
    background: #060307;
    width: 48px;
    height: 48px;
    transition: all 0.3s ease;
  }

  .fb_right_svg {
    fill: #fff;
  }
}

@media screen and (min-width: 1440px) {
  .swiper {
    width: 811px;
    height: 300px;
  }

  .fb_outer_wrapper {
    position: relative;
  }

  .fb_list {
    max-width: 811px;
  }

  .fb_user_text {
    font-size: 32px;
    line-height: 1.3;
  }

  .fb_user_name {
    margin-bottom: 75px;
  }

  .feedback {
    margin-top: 112px;
    margin-bottom: 112px;
  }
}

.swiper-pagination-bullet {
  background-color: #777;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}
