.header-section {
  position: sticky;
  top: 0; 
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 8px 16px #0000004d;
  background-color: #060307;
  height: 64px;
  overflow: hidden;

}
body.menu-open {
  overflow: hidden;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.header-logo {
  width: 119px;
  height: 51px;
  fill: #764191;
}

.header-nav-list {
  display: none;
}

.mob-menu {
  overflow-y: auto;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #060307;
  transition: opacity .25s cubic-bezier(.4,0,.2,1), visibility .25s cubic-bezier(.4,0,.2,1);
}
@media screen and (max-width: 768px) {
  .mob-menu.is-hidden {
    display: none;
  }
}

.mob-nav-list {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.5;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 40px;
}

.burger-btn {
  background-color: #060307;
  fill: #fff;
  border: 0;
}

.mob-menu-close {
  opacity: 1;
  visibility: visible;
  background-color: #060307;
  fill: #fff;
  border: 0;
  transition: background-color .25s cubic-bezier(.4,0,.2,1), border .25s cubic-bezier(.4,0,.2,1);
}

.is-hidden {
  display: none;
}

.mob-nav-item:hover,
.mob-nav-item:focus {
  transition: color 250ms;
  color: var(--color-hover);
}

.mob-nav-item:active {
  color: #bfa0c2;
}



@media screen and (min-width: 768px){
  .header-section{
    height: 72px;
  }
  .header-container{
  width:704px;

  }
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .header-nav-list {
    display: flex;
    gap: 32px;
  }
  .button-container {
    display: none;
  }
  .mob-menu {
    display: none;
  }

  .header-logo {
    fill: #fff;
  }

  .header-nav-item:hover,
  .header-nav-item:focus {
    transition: color 250ms;
    color: var(--color-hover);
  }
}


@media screen and (min-width: 1440px){
  .header-container{
  width:1440px;

  }
  
}







