.header-section {
  position: relative;
  top: 0; 
  left: 0;
  width: 100%; 
  z-index: 1000;
} 

 .header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}  


.header-logo {
  width: 119px;
  height: 51px;
  fill: #764191;
}

.header-nav-list{
  display: none;
}

 
.mob-menu {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #8c17b4;
}
@media screen and (max-width: 768px){
  .mob-menu.is-hidden {
   display: none;
   
  }

}

.mob-nav-list{
  font-weight: 500;
  font-size: 26px;
  line-height: 1.5;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 40px;
  } 

.burger-btn{
  background-color: #060307;
  fill:#fff;
  border: 0;

}

.mob-menu-close{
  opacity: 1;
  visibility: visible;
  background-color: #060307;
  fill:#fff;
  border: 0;
}

 .is-hidden{
    display: none;

  }   

.mob-nav-item:hover,
.mob-nav-item:focus {
  border: 1px solid #060307;
  color: var(--color-hover);
}

.mob-nav-item:active {
  color: #bfa0c2;
}


@media screen and (min-width: 768px){
  .header-container{
    min-width:640px;

  }
  .header-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
  }
  .header-nav-list{
    display: flex;
    gap: 32px;
    
  }
  .button-container{
    display: none;
  }
  .mob-menu{
    display: none;
  }

  .header-logo {
    fill: #fff;
  }

  .header-nav-item:hover,
  .header-nav-item:focus {
    border: 1px solid #060307;
    color: var(--color-hover);
  }
}








