.hero {
  background: linear-gradient(
      180deg,
      rgba(6, 3, 7, 1) 0%,
      rgba(6, 3, 7, 0) 20%,
      rgba(6, 3, 7, 0) 80%,
      rgba(6, 3, 7, 1) 100%
    ),
    #23132b;
  padding-top: 64px;
  margin: auto;
}

.hero__right {
  height:385px
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 32px;
  }

  .hero__right {
    height: 632px;
  }
  .hero__title {
    width: 624px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title {
    font-size: 84px;
  }
}
@media screen and (max-width: 767px) {
  .hero__title {
    width: 280px;
  }
  .hero__description {
    margin-bottom: 24px;
  }
}
.hero__title {
  color: #fff;
  font-family: 'Epilogue', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.1px;
}
.hero__description {
  font-size: 20px;
  font-style: normal;
  margin-bottom: 32px;
}
.hero-btn-icon {
  fill: #fff;
}
.hero__left {
  width: 50%;
}
@media screen and (max-width: 1440px) {
  .hero__left {
    width: 100%;
  }
}
.hero__right {
  display: flex;
  overflow: hidden;
  gap: 20px;

  position: relative;
  border-radius: 12px;
}
@media screen and (max-width: 1440px) {
}
.hero__right img {
  border-radius: 20px;
}
.hero__overlay-top {
  width: 100%;
  height: 17px;
  position: absolute;
  top: 10px;
  z-index: 10;
  background: linear-gradient(to top, rgba(6, 3, 7, 0), rgba(6, 3, 7, 0) 50%);
  /*backdrop-filter: blur(10px);*/
}
.hero img {
  height: 340px;
}
.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
}
@media screen and (max-width: 1440px) {
  .hero__container {
    flex-direction: column;
  }
}
.hero__btn {
  width: 206px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 12px;

  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: white;
  background: #764191;
  border: none;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease;
}

.hero__btn:hover,
.hero__btn:focus {
  background: #6f4d89;
  transform: scale(0.97);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.down {
  animation-name: scroll-down;
}
.up {
  animation-name: scroll-up;
}

@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    padding-top: 0;
  }

  .hero__right::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 120px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #060307 100%);
    pointer-events: none;
    z-index: 2;
  }

  .container hero__container {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    padding: 0 64px;
  }
  .hero__left {
    width: 640px;
    margin-bottom: 0;
  }
  .hero__title {
    font-size: 84px;
  }
  .hero__description {
    font-size: 20px;
    margin-bottom: 32px;
  }
  .hero__btn {
    width: 206px;
  }
  .hero__right {
    width: 641px;
    height: 900px;
    position: relative;
    overflow: hidden;
  }

}
@media (max-width: 767px) {
  .hero__title {
    margin-bottom: 20px;
  }
  .hero__container {
    gap: 64px;
  }
}
